tests-out/
*
# why this can't include all *.c in subdirectories. See https://stackoverflow.com/a/44568924/21294350
# 1st include all subdirs, then files in these dirs.
!**/
!*.c
!*.h
!*.sh
!pre
!*.run
!*.py
# why this can't include all *.c in subdirectories.
!**/**/*.c
!.gitignore
src/
tests*/